.better {
	margin-top: 4rem;

	&__container {
		@include adaptiv-value("margin-top", toPX(2.88), toPX(1.55), 1);
	}

	&__description {
		@include adaptiv-value("margin-top", toPX(2.5), toPX(2.45), 1);
	}
}
@include media-width($sm, min) {
	.better {
		&__wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 0.89rem;
		}
	}
}
@include media-width($sm) {
	.better {
		&__container {
			grid-template-columns: 1fr;
			.card__item {
				display: flex !important;
			}
		}
		&__pagination {
			margin-top: 2rem;
		}
	}
}
