.deno {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include adaptiv-value("margin-bottom", toPX(3.12), toPX(2.37), 1);
	}

	&__image {
		width: 100%;
		picture,
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__inner {
		width: 100%;
		@include adaptiv-value("padding-top", toPX(4.75), toPX(0), 1);
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2.3rem 2.44rem;
	}

	&__item {
		display: inline-flex;
		justify-content: center;
		color: #001a32;
		font-family: $font-family-montserrat;
		font-size: 2.29006rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		padding: 1.2rem 0;
		border: 0.916px solid #001a32;

		&:hover,
		&.active {
			background-color: #001a32;
			color: #fff;
		}
	}

	&__lables {
		margin-top: 1.94rem;
		display: flex;
		width: 100%;
		justify-content: space-around;
		span {
			color: #000;
			font-family: $font-family-montserrat;
			font-size: 1rem;
			font-style: normal;
			font-weight: 600;
			line-height: 2.15625rem;
		}
	}

	&__button {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		margin-top: 0.88rem;
		max-width: 18.875rem;
	}
}

@include media-width($md) {
	.deno {
		&__wrapper {
			grid-template-columns: 1fr;
		}
		&__items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2.36rem;
		}

		&__item {
			max-width: 43%;
			width: 100%;
		}
		&__lables {
			display: none;
		}
		&__button {
			display: none;
		}
	}
}
