.gift {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include adaptiv-value("gap", toPX(1.5), toPX(1.12), 1);
		@include adaptiv-value("margin-top", toPX(7.89), toPX(4.44), 1);
		@include adaptiv-value("margin-bottom", toPX(2.31), toPX(1.5), 1);
		border-top: 0.125rem solid #047678;
		border-bottom: 0.125rem solid #047678;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 1.94rem 1.2rem;
		box-sizing: border-box;
	}

	&__title {
		margin: 0;
	}

	&__button {
		@include adaptiv-value("margin-top", toPX(2), toPX(0.44), 1);
	}

	&__text {
		color: #000;
		font-family: $font-family-montserrat;
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
		line-height: 1.46875rem;
		text-wrap: balance;
	}
}

@include media-width($md) {
	.gift {
		&__wrapper {
			grid-template-columns: 1fr;
			padding: 1.12rem 0;
		}
		&__item {
			padding: 0;
		}
	}
}
