.rectangle {
	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.06rem;
		padding: 0 1.94rem;
		margin-top: -13rem;
		padding-bottom: 2rem;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 0.69rem;
	}

	&__image {
		position: relative;
		max-width: 35.625rem;

		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #030303 100%);
			z-index: 2;
		}
	}

	&__button {
		position: absolute;
		right: 1.5rem;
		bottom: 1.69rem;
		z-index: 3;
		cursor: pointer;
	}

	&__container {
		padding: 0 4.44rem 2.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0 2.56rem;
	}

	&__border {
		margin-top: 13rem;
		border: 4px solid #001a32;
	}

	&__container-image {
		max-width: 100%;
		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__wrapper {
		max-width: 31.4375rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	&__subtitle {
		color: #ddb454;
		font-family: $font-family-montserrat;
		@include adaptiv-value("font-size", toPX(1.5), toPX(1.25), 1);
		font-style: normal;
		font-weight: 700;
		line-height: 2.15625rem; /* 143.75% */
		text-transform: uppercase;
		text-align: center;
		margin: 1rem 0;
	}

	&__text {
		color: #000;
		text-align: justify;
		font-family: $font-family-montserrat;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		&.mobile {
			display: none;
		}
	}
}
@include media-width($md) {
	.rectangle {
		overflow: hidden;
		&__inner {
			grid-template-columns: 1fr;
			margin-top: 0;
			padding: 0;
		}

		&__image {
			width: 120%;
		}
		&__header {
			align-items: center;
		}
		&__container {
			grid-template-columns: 1fr;
			padding: 1.5rem 1rem 1.5rem;
		}

		&__wrapper {
			max-width: none;
		}

		&__container-image {
			max-width: 160%;
			width: 160%;
			margin: 0 auto;
			transform: translateX(-50%);
			margin-left: 50%;
		}

		&__text {
			display: inline-block;
			&.desctop {
				display: none;
			}

			&.mobile {
				display: inline-block;
			}
		}

		&__border {
			margin-top: 2rem;
		}

		&__button {
			right: 15%;
			left: 15%;
			bottom: -1rem;
			margin: 0 auto;
		}
	}
}
