.reviews {
	&__slider {
		@include adaptiv-value("margin-top", toPX(3.38), toPX(1.5), 1);
	}

	&__wrapper {
	}

	&__slide {
		display: flex !important;
		align-items: center;
	}

	&__image {
		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		max-width: 16rem;
	}

	&__stars {
		display: flex;
		align-items: center;
		gap: 0.125rem;
	}

	&__title {
		color: $blue-color;
		font-family: $font-family-montserrat;
		@include adaptiv-value("font-size", toPX(1.34281), toPX(1), 1);
		font-style: normal;
		font-weight: 500;
		line-height: 100%; /* 0% */
		letter-spacing: -0.05369rem;
		@include adaptiv-value("margin-top", toPX(1.08), toPX(1.08), 1);
		@include adaptiv-value("margin-bottom", toPX(0.38), toPX(0.38), 1);
	}

	&__pagination {
		@include adaptiv-value("margin-top", toPX(3.56), toPX(1.37), 1);
	}

	&__text {
		color: #000;
		font-family: $font-family-montserrat;
		@include adaptiv-value("font-size", toPX(0.80569), toPX(0.875), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 1.73725rem; /* 215.625% */
	}
}
@include media-width($sm) {
	.reviews {
		&__slide {
			flex-direction: column;
		}
	}
}
