.seo {
	&__block {
		overflow: hidden;
		transition: all 0.5s ease-in-out;
		max-height: 8rem;
		margin-bottom: 0;
	}
	&__all {
		margin-top: 1rem;
		color: $blue-color;
		font-family: $font-family-montserrat;
		@include adaptiv-value("font-size", toPX(1), toPX(0.875), 1);
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0.75rem;
		order: 5;
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: -400%;
			right: 0;
			bottom: 100%;
			opacity: 1;
			transition: all 0.5s ease-in-out;
			pointer-events: none;
			background: linear-gradient(0deg, #ffffffde 30%, #ffffffaf 70%, rgba(252, 252, 252, 0) 100%);
		}
		&::after {
			content: "";
			display: block;
			@include adaptiv-value("min-width", toPX(1.2), toPX(0.875), 1);
			@include adaptiv-value("min-height", toPX(1.2), toPX(0.875), 1);
			background-image: url("../img/arrow_readmore.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			transition: all 0.5s ease-in-out;
			transform: rotate(0deg);
		}

		&.open {
			&::after {
				transition: all 0.5s ease-in-out;
				transform: rotate(-180deg);
			}
			&::before {
				transition: all 0.5s ease-in-out;
				opacity: 0;
			}
		}
	}
}
